{% extends 'template.html' %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}

{% block content %}
    <style>.errorlist{color:red;}</style>
    <main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <h3 class="mb-4 text-info">Cambio de contraseña</h3>
                    <p>
                        Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.
                    </p>

                    {{form.old_password.errors}}
                    <p class="mb-5">
                        <input type="password" name="old_password" autofocus required id="id_old_password"class="form-control" placeholder="Contraseña antigua">
                    </p>
                    {{form.new_password1.errors}}
                    <p>
                        <input type="password" name="new_password1" required id="id_new_password1" class="form-control" placeholder="Contraseña nueva">
                    </p>
                    {{form.new_password2.errors}}
                    <ul>
                        <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                        <li>Su contraseña debe contener al menos 8 caracteres.</li>
                        <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                        <li>Su contraseña no puede ser completamente numérica.</li>
                    </ul>
                    <p>
                        <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)">
                    </p>
                    <div class="text-center mb-3">Para verificar, introduzca la misma contraseña anterior.</div>
                    <p class="mt-5"><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
                </form>
            </div>
        </div>
    </div>
    </main>
{% endblock %}