{% extends 'template.html' %}
{% load static %}
{% block title %}Contraseña cambiada correctamente{% endblock %}
{% block content %}
    <main role="main">
        <div class="my-5">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="text-center">
                    <h1 class="display-4 text-info">Contraseña cambiada correctamente</h1>
                    <p>Puedes volver a tu perfil haciendo clic <a href="{% url 'urlRegistration:profile' %}">aquí</a>.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}